*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 1vw;
}
.right{
    float: right;
}
.left{
    float: left;
}

/******************Fonts************************/
@font-face{
    font-family: "Monserrat Regular";
    font-style: normal;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('/Fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family: "Monserrat Bold";
    font-style: normal;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/Fonts/Montserrat-Bold.ttf');
}
.FontR{
    font-family: "Monserrat Regular";
    letter-spacing: -0.045rem;
}
.FontB{
    font-family: "Monserrat Bold";
    letter-spacing: -0.045rem;
}
.Font_purple{
    color: #BC9CFF;
}
.Font_white{
    color:white;
}
.Font_D100{
    color: rgba(31,32,65,1);
}
.Font_D25{
    color: rgba(31,32,65,0.25);
}
.Font_D50{
    color: rgba(31,32,65,0.5);
}
.Font_D75{
    color: rgba(31,32,65,0.75);
}
.size_font7{
    font-size: 0.7rem;
    line-height: 0.7rem;
}
.size_font8{
    font-size: 0.8rem;
    line-height: 0.8rem;
}

/******************Main Logo*************************/
.main_logo{
    width: 2.6rem;
    margin: 1.6rem 1.6rem 2.9rem;
}

/*columns*/
.column1{
    width: 16.7rem;
    height: 80rem;
    margin: 7.5rem 0rem 0rem 1.5rem;
}
.column2{
    width: 16.7rem;
    margin-top: 4.18rem;
}
.column3{
    width: 16.7rem;
    height: 80rem;
    margin: 7.5rem 0rem 0rem 6.6rem;
}

/*Input*/
.input_case_focus{
    border-radius: 0.25rem;
    border: 0.1rem solid rgba(31,32,65,0.5);
}
.part_input{
    width: 16.7rem;
    margin-bottom: 1.15rem;
}
.part_input2{
    width: 16.7rem;
    margin-bottom: 2.8rem;
}
.part_input3{
    width: 16.7rem;
    margin-bottom: 2.8rem;
    height: 10.3rem;
}
.title{
    margin-bottom: 1rem;
}
.input_case{
    border-radius: 0.25rem;
    border: 0.1rem solid rgba(31,32,65,0.25);
}
.input_all{
    width: 15.3rem;
    height: 1rem;
    padding: 0.4rem 0.6rem 0.6rem;
    background: white;
}
input{
    color: rgba(31,32,65,0.75);
    outline: none;
    border: none;
}
input::placeholder{
    color: rgba(31,32,65,0.25);
}
.input_middle{
    width: 12.45rem;
    height: 1rem;
    padding: 0.4rem 0.6rem 0.6rem;
    background: white;
}
/*Size of input*/
.input_size_middle{
    width: 11rem;
}

.width_text{
    width: 13.9rem;
}
/*Dropdown*/
.more_dropdown{
    margin-top: 0.4rem;
    width: 0.7rem;
}
.dropdown_top_text{
    margin-top: 0.15rem;
}
.dropdown_top_text2{
    margin-top: 0.35rem;
}
.date_dropdown{
    width: 6.4rem;
    border-radius: 0.25rem;
    border: 0.1rem solid rgba(31,32,65,0.25);
    height: 1rem;
    padding: 0.4rem 0.6rem 0.6rem;
    background: white;
}
.arrow{
    width: 1rem;
    margin-top: 0.1rem;
}
.input_case_D50{
    border: 0.1rem solid rgba(31,32,65,0.5);
    background: white;
}
.case_D50_height1{
    height: 1.25rem;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    padding: 0.4rem 0.6rem 0.6rem;
    width: 12.45rem;
}
.case_D50_height2{
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    margin-top: -0.25rem;
    width: 12.25rem;
    padding: 0.3rem 0.8rem 0rem 0.6rem;
}
.section{
    width: 12.9rem;
    margin-bottom: 0.45rem;
}
.circ_dropdown{
    width: 0.6rem;
    height: 1rem;
    border-radius: 1rem;
    text-align: center;
    padding: 0.2rem 0.4rem 0.1rem 0.3rem;
}
.circ_D50{
    border: 0.1rem solid rgba(31,32,65,0.5);
}
.circ_D25{
    border: 0.1rem solid rgba(31,32,65,0.25);
}
.dist_circ_dropdown{
    margin-left: 0.7rem;
}

/*checkbox list*/
.checkbox{
    width: 13rem;
    height: 1rem;
}
.checkbox2{
    width: 10rem;
    margin-top: 0.75rem;
}
.checkbox_buttons{
    width: 13rem;
    margin-top: 0.75rem;
}
.expend_more_checkbox{
    width: 0.7rem;
    margin: 0rem 0rem 0rem 0.3rem;
}
#check{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.item{
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.item::before {
    content: '';
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(31,32,65,0.25);
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}
#check:checked+span::before {
    border-color: #BC9CFF;
    background-color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23BC9CFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.line_check{
    margin-top: 0.25rem;
}

/*Icons*/
.line_icon{
    background: rgba(31,32,65,0.1);
}
.smile_house{
  width: 2rem;
  margin-right: 0.8rem;
  margin-bottom: 1.3rem;
}
.smile{
    width: 14.3rem;
}
.line_icon{
    height: 0.1rem;
    width: 14.3rem;
}