*{
    margin: 0;
    padding: 0;
}
body{
    background: #F4F4F6;
}
html{
    font-size: 1vw;
}
.right{
    float: right;
}
.left{
    float: left;
}
.distance{
    margin-top: 2rem;
}
/******************Fonts************************/
@font-face{
    font-family: "Monserrat Regular";
    font-style: normal;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('/Fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family: "Monserrat Bold";
    font-style: normal;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/Fonts/Montserrat-Bold.ttf');
}
.FontR{
    font-family: "Monserrat Regular";
    letter-spacing: -0.045rem;
}
.FontB{
    font-family: "Monserrat Bold";
    letter-spacing: -0.045rem;
}
.Font_purple{
    color: #BC9CFF;
}
.Font_white{
    color:white;
}
.Font_D100{
    color: rgba(31,32,65,1);
}
.Font_D50{
    color: rgba(31,32,65,0.5);
}
.Font_D75{
    color: rgba(31,32,65,0.75);
}
.size_font7{
    font-size: 0.7rem;
    line-height: 0.7rem;
}
.size_font8{
    font-size: 0.8rem;
    line-height: 0.8rem;
}

/******************Main Logo*************************/
.main_logo{
    width: 2.6rem;
    margin: 1.6rem 1.6rem 2.9rem;
}

/*******************Header***************************/
header{
    background: white;
    height: 2.2rem;
    padding: 0.7rem 7.3rem;
}
.shadow{
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(31,32,65,0.05);
}
/*logo gradient*/
.logo{
    width: 2.2rem;
}
.logo_name{
    height: 0.75rem;
    margin: 0rem 0rem 0.77rem 0.25rem;
}
/*navigation*/
nav{
    margin-top: 0.7rem;
}
.menu{
    margin-left: 0.8rem;
}
nav .menu:first-child{
    width: 6.5rem;
    margin-right: 0.3rem;
}
nav .menu:nth-child(2){
    width: 3.7rem;
}
nav .menu:nth-child(3){
    width: 4.2rem;
}
nav .menu:nth-child(4){
    width: 4.2rem;
}
nav .menu:last-child{
    width: 2.5rem;
}
.menu_header{
    font-family: "Monserrat Regular";
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgba(31,32,65,0.5);
}
.menu_header:hover{
    font-family: "Monserrat Bold";
    color: rgba(31,32,65,0.75);
}
.expend_more{
    width: 0.7rem;
    margin: 0.2rem 0rem 0rem 0.3rem;
}

/**********************First Header*************************/
.size .registration:first-child{
    width: 11rem;
    padding: 0.6rem 0rem;
    height: 0.7rem;
    font-size: 0.7rem;
    line-height: 0.7rem;
}
.size .registration:last-child{
    width: 4.3rem;
    padding: 0.1rem 0.1rem;
    height: 1.7rem;
}
.registration{
    margin: 0.15rem 0rem 0.15rem 1rem;
    border-radius: 1rem;
    text-align: center;
    background: linear-gradient(#BC9CFF,#8BA4F9);
}
.login{
    background: white;
    width: 4.25rem;
    height: 0.7rem;
    padding: 0.5rem 0rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 0.7rem;
    line-height: 0.7rem;
}
/***************************Second Header***********************/
.rect{
    width: 0.1rem;
    height: 1.6rem;
    background: rgba(31,32,65,0.1);
    margin: 0.4rem 1rem;
}
.top_text_margin{
    margin-top: 0.7rem;
}

/**************************First Footer************************/
footer{
    height: 23.1rem;
}
.footer1{
    padding: 5.25rem 7.3rem 4.6rem;
    height: 9.55rem;
    background: white;
}
.footer2{
    padding: 1.3rem 7.3rem;
    background: white;
    width: 84.6rem;
    height: 1.1rem;
}
.line{
    background:rgba(31,32,65,0.1);
    height: 0.05rem;
    width: 99.2rem;
}
.text_footer{
    width: 13rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-top: 0.95rem;
}
.column{
    margin-right:8.8rem;
}
.footer1 .column:first-child{
    width: 13rem;
}
.footer1 .column:nth-child(2){
    width: 7.6rem;
    margin-top: 0.3rem;
}
.footer1 .column:nth-child(3){
    width: 6rem;
    margin-top: 0.3rem;
}
.footer1 .column:nth-child(4){
    width: 8rem;
    margin-top: 0.3rem;
}
.footer1 .column:last-child{
    width: 14.8rem;
    margin-right: 0rem;
    margin-top: 0.3rem;
}
.input_case{
    width: 13rem;
    height: 1rem;
    border-radius: 0.25rem;
    border: 0.1rem solid rgba(31,32,65,0.25);
    margin-top: 1.4rem;
    padding: 0.4rem 0.6rem 0.6rem;
}
input{
    color: rgba(31,32,65,0.75);
    outline: none;
    border: none;
}
input::placeholder{
    color: rgba(31,32,65,0.25);
}
.input_case:hover{
    border: 0.1rem solid rgba(31,32,65,0.5);
}
.input_case:focus-within{
    border: 0.1rem solid rgba(31,32,65,0.5);
}
.arrow{
    width: 1rem;
    margin-top: 0.1rem;
}
.menu_footer{
    font-family: "Monserrat Regular";
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgba(31,32,65,0.5);
}
.menu_footer:hover{
    color: rgba(31,32,65,0.75);
}
.icon{
    width: 1.1rem;
    margin-left: 1.2rem;
}

/************************Second Footer***********************/
.second_footer{
    margin: 2rem 29.6rem 7.4rem;
    padding: 6.3rem 10rem;
    width: 20rem;
    height: 6.6rem;
    background: white;
}
.logo_footer2{
    margin: 0rem 7.1rem 0.8rem;
}
.all_icons_2f{
    margin: 1.5rem 7.3rem 0rem 0rem;
}
