*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #E5E5E5;
}

/******************Fonts************************/
@font-face{
    font-family: "Monserrat Regular";
    font-style: normal;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('/Fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family: "Monserrat Bold";
    font-style: normal;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/Fonts/Montserrat-Bold.ttf');
}

/******************Logo*************************/
.logo1{
    width: 57px;
    height: 57px;
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 15px;
}

header{
    background: white;
    height: 80px;
    box-shadow: 0px 10px 20px 0px rgba(31,32,65,0.05);
    margin-top: 50px;
}
.logo_header{
    width: 50px;
    height: 50px;
    margin-left: 160px;
    margin-top: 15px;
    float: left;
}
.logo_name{
    float: left;
    height: 16px;
    margin-top: 32px;
    margin-left: 10px;
}

.registration{
    width: 230px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 160px;
    background: linear-gradient(#BC9CFF,#8BA4F9);
    float:right;
}
.login{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 24px;
    background: linear-gradient(#BC9CFF,#8BA4F9);
    float: right;
}
.login div:first-child{
    width: 96px;
    height: 36px;
    border-radius: 18px;
    background: white;
    margin-top: 2px;
    margin-right: 2px;
    float: right;
}
.font_bold{
    font-family: "Monserrat Bold";
    font-size: 14px;
}
.font_regular{
    font-family: "Monserrat Regular";
    font-size: 16px;
    color: rgba(31,32,65,0.5);
}
.font_gray{
    color: rgba(31,32,65,0.75);
    font-family: "Monserrat Bold";
    font-size: 16px;
}
.expend_more{
    width: 14px;
    float:right;
    margin-top: 36px;
    margin-left: 8px;
    margin-right: 6px;
}
.reg_text{
    color: white;
    margin-top: 11px;
    width: 230px;
    text-align: center;
}
.login_text{
    background: linear-gradient(#BC9CFF,#8BA4F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    text-align: center;
}

.rectangle{
    width: 2px;
    height: 36px;
    margin-left: 24px;
    margin-right: 30px;
    margin-top: 22px;
    background: rgba(31,32,65,0.1);
    float: right;
}

.distance_header{
    float:right;
    margin-top: 32px;
    margin-left: 24px;
}
.user{
    float: right;
    margin-right: 160px;
    margin-top: 32px;
}