*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #E5E5E5;
}


/*Logo*/
.logo1{
    width: 57px;
    height: 57px;
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 15px;
}

header{
    background: white;
    height: 80px;
    box-shadow: 0px 10px 20px 0px rgba(31,32,65,0.05);
    margin-top: 50px;
}
.logo_header{
    width: 50px;
    height: 50px;
    margin-left: 160px;
    margin-top: 15px;
    float: left;
}
.logo_name{
    float: left;
    height: 16px;
    margin-top: 32px;
    margin-left: 10px;
}