*{
    margin: 0;
    padding: 0;
}
body{
    background: #F4F4F6;
}
html{
    font-size: 1vw;
}
.right{
    float: right;
}
.left{
    float: left;
}
.distance{
    margin-top: 2rem;
}
/******************Fonts************************/
@font-face{
    font-family: "Monserrat Regular";
    font-style: normal;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('/Fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family: "Monserrat Bold";
    font-style: normal;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/Fonts/Montserrat-Bold.ttf');
}
.FontR{
    font-family: "Monserrat Regular";
    letter-spacing: -0.045rem;
}
.FontB{
    font-family: "Monserrat Bold";
    letter-spacing: -0.045rem;
}
.Font_purple{
    color: #BC9CFF;
}
.Font_white{
    color:white;
}
.Font_D100{
    color: rgba(31,32,65,1);
}
.Font_D50{
    color: rgba(31,32,65,0.5);
}
.Font_D75{
    color: rgba(31,32,65,0.75);
}
.size_font7{
    font-size: 0.7rem;
    line-height: 0.7rem;
}
.size_font8{
    font-size: 0.8rem;
    line-height: 0.8rem;
}

/******************Main Logo*************************/
.main_logo{
    width: 2.6rem;
    margin: 1.6rem 1.6rem 2.9rem;
}

/*******************Header***************************/
header{
    background: white;
    height: 2.2rem;
    padding: 0.7rem 7.3rem;
}
.shadow{
    box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(31,32,65,0.05);
}
/*logo gradient*/
.logo{
    width: 2.2rem;
}
.logo_name{
    height: 0.75rem;
    margin: 0rem 0rem 0.77rem 0.25rem;
}
/*navigation*/
nav{
    margin-top: 0.7rem;
}
.menu{
    margin-left: 0.8rem;
}
nav .menu:first-child{
    width: 6.5rem;
    margin-right: 0.3rem;
}
nav .menu:nth-child(2){
    width: 3.7rem;
}
nav .menu:nth-child(3){
    width: 4.2rem;
}
nav .menu:nth-child(4){
    width: 4.2rem;
}
nav .menu:last-child{
    width: 2.5rem;
}
.menu_header{
    font-family: "Monserrat Regular";
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgba(31,32,65,0.5);
}
.menu_header:hover{
    font-family: "Monserrat Bold";
    color: rgba(31,32,65,0.75);
}
.expend_more{
    width: 0.7rem;
    margin: 0.2rem 0rem 0rem 0.3rem;
}

/**********************First Header*************************/
.size .registration:first-child{
    width: 11rem;
    padding: 0.6rem 0rem;
    height: 0.7rem;
    font-size: 0.7rem;
    line-height: 0.7rem;
}
.size .registration:last-child{
    width: 4.3rem;
    padding: 0.1rem 0.1rem;
    height: 1.7rem;
}
.registration{
    margin: 0.15rem 0rem 0.15rem 1rem;
    border-radius: 1rem;
    text-align: center;
    background: linear-gradient(#BC9CFF,#8BA4F9);
}
.login{
    background: white;
    width: 4.25rem;
    height: 0.7rem;
    padding: 0.5rem 0rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 0.7rem;
    line-height: 0.7rem;
}
/***************************Second Header***********************/
.rect{
    width: 0.1rem;
    height: 1.6rem;
    background: rgba(31,32,65,0.1);
    margin: 0.4rem 1rem;
}
.top_text_margin{
    margin-top: 0.7rem;
}

/**************************First Footer************************/
footer{
    height: 23.1rem;
}
.footer1{
    padding: 5.25rem 7.3rem 4.6rem;
    height: 9.55rem;
    background: white;
}
.footer2{
    padding: 1.3rem 7.3rem;
    background: white;
    width: 84.6rem;
    height: 1.1rem;
}
.line{
    background:rgba(31,32,65,0.1);
    height: 0.05rem;
    width: 99.2rem;
}
.text_footer{
    width: 13rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-top: 0.95rem;
}
.column{
    margin-right:8.8rem;
}
.footer1 .column:first-child{
    width: 13rem;
}
.footer1 .column:nth-child(2){
    width: 7.6rem;
    margin-top: 0.3rem;
}
.footer1 .column:nth-child(3){
    width: 6rem;
    margin-top: 0.3rem;
}
.footer1 .column:nth-child(4){
    width: 8rem;
    margin-top: 0.3rem;
}
.footer1 .column:last-child{
    width: 14.8rem;
    margin-right: 0rem;
    margin-top: 0.3rem;
}
.input_case{
    width: 13rem;
    height: 1rem;
    border-radius: 0.25rem;
    border: 0.1rem solid rgba(31,32,65,0.25);
    margin-top: 1.4rem;
    padding: 0.4rem 0.6rem 0.6rem;
}
input{
    color: rgba(31,32,65,0.25);
    outline: none;
    border: none;
}
.arrow{
    width: 1rem;
}
.menu_footer{
    font-family: "Monserrat Regular";
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgba(31,32,65,0.5);
}
.menu_footer:hover{
    color: rgba(31,32,65,0.75);
}
.icon{
    width: 1.1rem;
    margin-left: 1.2rem;
}

/************************Second Footer***********************/
.second_footer{
    margin: 2rem 29.6rem 7.4rem;
    padding: 6.3rem 10rem;
    width: 20rem;
    height: 6.6rem;
    background: white;
}
.logo_footer2{
    margin: 0rem 7.1rem 0.8rem;
}
.all_icons_2f{
    margin: 1.5rem 7.3rem 0rem 0rem;
}
/*
.logo_header{
    width: 50px;
    height: 50px;
    margin-left: 160px;
    margin-top: 15px;
    float: left;
}
.logo{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 140px;
    margin-left: 496px;
}
.logo_name_foot{
    float: left;
    height: 16px;
    margin-left: 10px;
    margin-top: 157px;
}
.logo_name{
    float: left;
    height: 16px;
    margin-top: 32px;
    margin-left: 10px;
}

.registration{
    width: 230px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 160px;
    background: linear-gradient(#BC9CFF,#8BA4F9);
    float:right;
}
.login{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 24px;
    background: linear-gradient(#BC9CFF,#8BA4F9);
    float: right;
}
.login div:first-child{
    width: 96px;
    height: 36px;
    border-radius: 18px;
    background: white;
    margin-top: 2px;
    margin-right: 2px;
    float: right;
}
.font_bold{
    font-family: "Monserrat Bold";
    font-size: 14px;
}
.font_bold_color{
    color: rgba(31,32,65,1);
}
.font_regular{
    font-family: "Monserrat Regular";
    font-size: 16px;
    color: rgba(31,32,65,0.5);
}
.text2{
    font-family: "Monserrat Regular";
    font-size: 16px;
    color: rgba(31,32,65,0.75);
    margin-top: 210px;
    text-align: center;
}
.text1{
    font-family: "Monserrat Regular";
    font-size: 16px;
    color: rgba(31,32,65,0.75);
    margin-left: 160px;
}
.font_gray{
    color: rgba(31,32,65,0.75);
    font-family: "Monserrat Bold";
    font-size: 16px;
}
.expend_more{
    width: 14px;
    float:right;
    margin-top: 36px;
    margin-left: 8px;
    margin-right: 6px;
}
.reg_text{
    color: white;
    margin-top: 11px;
    width: 230px;
    text-align: center;
}
.login_text{
    background: linear-gradient(#BC9CFF,#8BA4F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    text-align: center;
}

.rectangle{
    width: 2px;
    height: 36px;
    margin-left: 24px;
    margin-right: 30px;
    margin-top: 22px;
    background: rgba(31,32,65,0.1);
    float: right;
}

.distance_header{
    float:right;
    margin-top: 32px;
    margin-left: 24px;
}
.user{
    float: right;
    margin-right: 160px;
    margin-top: 32px;
}
.upper_rect{
    height: 330px;
    margin-top: 45px;
    background: white;
    padding-top: 95px;
}
.lower_rect{
    height: 48px;
    background: white;
    box-shadow: 0px 10px 20px 0px rgba(31,32,65,0.05);
    margin-top: 2px;
    padding-top: 32px;
}
.rect_foot{
    height: 425px;
    width: 1132px;
    float:right;
    background: white;
    box-shadow: 0px 10px 20px 0px rgba(31,32,65,0.05);
    margin-right: 388px;
    margin-top: 45px;
    margin-bottom: 135px;
}

.icon{
    width: 25px;
    margin-top: 30px;
    float: left;
    margin-right: 25px;
}
.all_icons{
    margin-left: 496px;
}

.all_icons1{
    margin-right: 160px;
    margin-top: -22px;
}
.icon1{
    width: 25px;
    margin-top: 0px;
    float: right;
    margin-right: 25px;
}
.text3{
    width: 300px;
    margin-top: 84px;
    float:left;
    margin-left: -120px;
    line-height: 1.8;
}
.text4{
    font-family: "Monserrat Regular";
    font-size: 16px;
    color: rgba(31,32,65,0.75);
    width: 300px;
    float:right;
    line-height: 1.6;
    margin-top: 25px;
}
.column1{
    float: left;
}
.column2{
    float:right;
}
.medium_column{
    float:left;
    margin-left: 150px
}
.first_column{
    margin-right: 100px;
    float: left;
}
.last_column{
    margin-left: 100px;
    float: right;
    margin-right: 160px;
}
.row{
    width: 170px;
    margin-top: 25px;
}
.first_row{
    width: 180px;
    margin-top: 22px;
}
.email{
    width: 300px;
    height: 48px;
    border: 1px solid;
    border-color: rgba(31,32,65,0.25);
    border-radius: 5px;
    margin-top: 102px;
}
.arrow{
    height: 20px;
    margin-top: 14px;
    float: right;
    margin-right: 14px;
    margin-left: 14px;
}
.input{
    outline:none;
    height: 48px;
    width: 234px;
    border: none;
    margin-left: 14px;
    color: rgba(31,32,65,1);
    font-size: 16px;
    font-family: "Monserrat Regular";
}
.input::placeholder{
    color: rgba(31,32,65,0.25);
    font-family: "Monserrat Regular";
    font-size: 16px;
}*/